<form {{action "onSubmit" uri newTags tags on="submit"}}>
  <fieldset>
    {{input type="url" value=uri placeholder="URL e.g. http://www.example.com/" required=true}}
  </fieldset>

  <fieldset class="tags">
    {{#each tags as |tag|}}
      <label>
        {{input type="checkbox" checked=tag.isSelected name="tags"}}
        {{tag.name}}
      </label>
    {{/each}}
  </fieldset>

  <fieldset>
    {{input value=newTags placeholder="Other tags..."}}
  </fieldset>

  {{#if saving}}
    <button type="button" disabled>Saving...</button>
  {{else}}
    <button type="submit">Add</button>
  {{/if}}
</form>
