<form onsubmit={{action "onSubmit" uri newTags tags}}>
  {{input type="url" value=uri placeholder="URL e.g. http://www.example.com/" required=true}}
  <br>
  {{#each tags as |tag|}}
    <label>
      {{input type="checkbox" checked=tag.isSelected name="tags"}}
      {{tag.name}}
    </label>
  {{/each}}
  <br>
  {{input value=newTags placeholder="Other tags..."}}
  <br>

  {{#if saving}}
    <button type="button" disabled>Saving...</button>
  {{else}}
    <button type="submit">Add</button>
  {{/if}}
</form>
